body {
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap");
* {
  text-decoration: none;
}
body {
  font-family: "Just Another Hand", cursive;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 2fr 2fr 50px;
  grid-template-rows: minmax(20px, 25%) minmax(200px, 60%) minmax(10px, 25%);
}
h1 {
  grid-column-start: 3;
  grid-row: 1;
  justify-self: end;
  align-self: end;
  font-size: 90px;
  margin: 0 50px 0 0px;
}
.menu {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
}
.menu-item {
  width: 25vw;
  height: 50px;
  margin: 10px 0 0 0;
  font-size: 50px;
  text-align: left;
  color: black;
  position: relative;
}
.menu-item:hover {
  text-shadow: 2px 4px 0px rgba(72, 4, 4, 0.5);
}
.menu-item:hover:before {
  content: "";
  position: absolute;
  height: 60px;
  width: 50px;
  left: -50px;
  top: 5px;
  background-color: #e4003a;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 10% 50%);

  animation-name: fingerAnim;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes fingerAnim {
  0% {
    left: -50px;
  }
  100% {
    left: -65px;
  }
}

.background {
  grid-column: 2 / span 2;
  grid-row-start: 2;
  align-self: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 153, 0, 0),
    rgb(212, 21, 53)
  );
  justify-self: stretch;
  align-self: stretch;
}
