@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

*{
   font-family: 'Montserrat', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;

   transition: all .2s linear;    
}

body{
  background-color: black;
  overflow: hidden;
}

article{
  color: white;
  border: solid wheat 1px;
  padding: 10px 20px;
  margin: 5% 9% 5% 9%;
  border-radius: 10px;
  font-weight: 500;
  font-size: large;
}

.bubbles ul li{
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(rgb(218, 223, 185),transparent, transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 10s linear infinite;
}

.bubbles ul li:nth-child(2){
  left: 5vw;
  animation-delay: 2s;
}
.bubbles ul li:nth-child(3){
  left: 25vw;
  animation-delay: 4s;
}
.bubbles ul li:nth-child(4){
  left: 60vw;
  animation-delay: 6s;
}
.bubbles ul li:nth-child(5){
  left: 75vw;
  animation-delay: 4s;
}
.bubbles ul li:nth-child(6){
  left: 90vw;
  animation-delay: 6s;
}
.bubbles ul li:nth-child(7){
  left: 100vw;
  animation-delay: 5s;
}
.bubbles ul li:nth-child(8){
  left: 0vw;
  animation-delay: 3s;
}
.bubbles ul li:nth-child(9){
  left: 40vw;
  animation-delay: 7s;
}
.bubbles ul li:nth-child(10){
  left: 30vw;
  animation-delay: 1s;
}
.bubbles ul li:nth-child(11){
  left: 50vw;
  animation-delay: 5s;
}
@keyframes animate{
  0%{
    transform: scale(0);
    opacity: 1;
    bottom: 0;
  }
  100%{
    transform: scale(10);
    opacity: 0;
    bottom: 100vh;
  }
}

#buttons{
  margin-right: 50%;
}

.container .buttons button {
    border: solid wheat 1px;
    font-weight: 600;
    height: 50px;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 12px 16px;
}

.container .buttons button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.container .buttons button:active {
    color: #000;
}

.container .buttons button:active:after {
    background: transparent;
}

.container .buttons button:hover:before {
    opacity: 1;
}

.container .buttons button:after {
  background-color: wheat;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.container{
  height: 100%;
  width: 100%;
  position: absolute;
  padding:25px 10%;
  text-align: center;
}

.container .heading{
  margin-bottom: 100px;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  animation: glitch 2s linear infinite;
  letter-spacing: -3px;
}
.container .heading:hover{
  transform: scale(1,2);
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.container .heading :before,
.container .heading:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.container .heading:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.container .heading:after{
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.container .image-container{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}

.container .image-container .image{
  padding:20px;
  background-color: rgb(227, 222, 177);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border:2px solid #000;
  width: 350px;
  border-radius: 5px;
  animation: fadeIn .2s linear;
}

@keyframes fadeIn {
  0%{
    transform: scale(.5) translateY(-10px);
    opacity: 0;
  }
}

.container .image-container .image img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container .image-container .image h3{
  font-size: 20px;
}


@media (max-width:450px){

  .container{
    padding:25px 20px;
  }

  .container .image-container .image{
    width: 100%;
  }
}

.container #content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container #content .on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.container #content input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-right: 85%;
  border: 4px solid wheat;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.container #content .search {
  background: none;
  position: absolute;
  color: wheat;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.container #content .search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: wheat;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container #content .close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.container #content .close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container #content .close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.container #content .square {
  background-color: #000;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.info-card {
  width: max-content;
  height: max-content;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-family: Arial;
}

.info-card > label {
  cursor: pointer;

}

.info-card > h1 {
  margin: 15px;
}

.info-card > p {
  margin: 15px;
}

.hint {
  height: 30px;
  width: 30px;
  color: wheat;
  background-color: rgb(109, 38, 38);
  border-radius: 15px;
  position: absolute;
  right: -10px;
  top: -10px;
  transition: .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.hint > span {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  position: absolute;
  top: 6px;
  right: 9px;
}

.hint > p {
  overflow: hidden;
  max-height: 0px;
  }

.hint:hover{
  background-color: rgb(174, 140, 72);
}

#info-one:checked + .hint {
  height: calc(100% + 15px);
  width: calc(100% + 15px);
}
#info-one:checked + .hint > p {
  max-height: 999px;
}
#info-two:checked + .hint {
  height: calc(100% + 15px);
  width: calc(100% + 15px);
}

#info-two:checked + .hint > p {
  max-height: 999px;
} 


